mixin header(title)
  h4= title
  .callout
    .grid-x.grid-padding-x
      block
mixin secondHeader(title)      
  h4= title
  block

mixin label(labelText)
  .large-3.medium-3.cell
    strong= labelText
mixin labelNotBold(labelText)
  .large-3.medium-3.cell= labelText

mixin highlight(desc)
  .large-9.medium-9
    p=desc

mixin date(month, year, endMonth, endYear)
  .large-6.medium-6.cell
    h5 #{month}/#{year} - Current

mixin company(name, city, state, link)
    .large-3.medium-3.cell
      h4
        | #{name}, #{city}, #{state}  (#{link})

mixin position(title, company, city, state, startMonth, startYear, endMonth, endYear )
  .callout
    .grid-x.grid-padding-x
      .large-6.medium-6.cell
        h4= title
        p #{company}, #{city}, #{state}
      .large-6.medium-6.cell
        h4.text-right
          | #{startMonth}/#{startYear} - 
          if (endYear)
            | #{endMonth}/#{endYear}
          else
            | #{endMonth}
    .grid-x.grid-padding-x
      block

mixin job(company, title, period, url, descUrl )
  .callout
    .grid-x.grid-padding-x
      .large-4.medium-4.cell
        h5= title
      .large-6.medium-6.cell
        h5= company
        if (url)
          +aLink(url, descUrl)
      .large-4.medium-4.cell
        h5.text-right= period
      block
mixin client( client, projectName )
  .large-1.medium-1.cell
  .large-11.medium-11.cell
    li
      strong
        | #{client}
      if (projectName)
        |, 
        em #{projectName}
      | &nbsp;:&nbsp;

      block
      //-   | #{projectName}
        
mixin engagement( desc )
    | #{desc}
mixin engagement2( desc )
    | #{desc}
    br

mixin techStack( desc )
    p 
      em Technologies&nbsp;:&nbsp;
      | #{desc}

mixin description( desc )
    p= desc
    block
mixin description2( desc )
  p= desc
mixin technologies( desc )
  .large-3.medium-3.cell
    p.text-left Technologies
  .large-9.medium-9.cell
    p= desc

mixin aLink(href, desc )    
  a.hide-for-print(href=href)=desc
  p.show-for-print=desc
   

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{info.fullName}
  link(rel='stylesheet' href='css/app.css')
.grid-container
  h4 #{info.fullName}

  .grid-x.grid-padding-x
    .large-3.medium-3.small-3.cell.hide-for-print
      p #{info.city}, #{info.state}
    .large-3.medium-3.small-3.cell.hide-for-print
      p.text-center
        a(href='mailto:' + info.email) Email
    .large-3.medium-3.small-3.cell.hide-for-print
      p.text-center
        a(href='http://linkedin.com/in'+ info.linkedInHandle, target="__blank") LinkedIn
    .large-3.medium-3.small-3.cell.hide-for-print
      p.text-center
        a(href='./pedro_ribeiro_resume.pdf' ) Download Resume
  .grid-x.grid-padding-x
    .large-4.medium-4.small-4.cell.show-for-print
      p #{info.address} #{info.city}, #{info.state}
    .large-4.medium-4.small-4.cell.show-for-print
      p 
        | #{info.email}
    .large-4.medium-4.small-4.cell.show-for-print
      p 
        | linkedin.com/in/#{info.linkedInHandle}
.grid-container
  +header('Career Highlights')
    each h in highlights
      +label(h.label)
      +highlight(h.description)


.grid-container
  +secondHeader('Experience ')
    each pos in experience.positions
      +position(pos.title, pos.company, pos.city, pos.state, pos.startMonth, pos.startYear, pos.endMonth, pos.endYear )
        each cli in pos.clients
          +client(cli.name, cli.projectName)
            +engagement(cli.businessDesc)
            +techStack(cli.techStack)
  +secondHeader('Experience ')
    +position('Cengage Learning', 'Agile Developer', 'Farmington Hills', 'MI', '09', '2009', '07', '2010')
      +client('Online Educational Products')
        +engagement('Part of the hand selected team responsible for generating the base Portlet framework that was then used across all library educational projects of the company, with a key role in integrating the framework with Spring and IOC. ')
        +techStack('JQuery, JBoss Portal, Portlets, Restlets, Spring, XPath, XSLT')

    +position('Lead Application Developer', 'Budco (Dialog Direct)', 'Highland Park', 'MI', '05', '2007', '11', '2009')
      +client('Brand Management Platform')
        +engagement('Responsible for designing and developing components for the Brand Management Platform, like event processes, workflows and heavy load XML integrations.  ')
      +client('GM Navigation Disc')
        +engagement('As a Lead developer I implemented features from high critical operations for GM China, created through a JSP parser that converted text in custom tags,  and implemented web redesign with friendly user interfaces and I18N support.')
        +techStack('ANT, Subversion, Jenkins, JMeter, Easy Mock(1.0 and 2.0), Apache Struts, JSTL, PrototypeJs,  JBoss, Spring Template, Hibernate, Oracle 10, XLSLT, XPath, XML, Dom')
    +position('Developer', 'Interlink', 'Berrien Springs', 'MI', '07', '2005', '03', '2007')
      +client('CM2')
        +engagement('Design and development of an ETL tool (Extract Transform and Load) that is extensible with plug-ins for parsers and mappers, with a visual editor  that allows mapping of fields into pdf files to generate reports.')
        +techStack('Python, wxPython, XML, XSLT and Firebird Database.')
    +position('Developer', 'Andrews University', 'Berrien Springs', 'MI', '08', '2004', '12', '2006')
      +client('Physics Department', '3D Scanner Visualization')
        +engagement(' An application that exhibits 3D images of scanned archeological artifacts in OpenGL. ')
        +techStack('OpenGL, C++, wxWindows ,STL and cppUnit')
      +client('Physics Department','Time Sheet Journal.')
        +engagement('An intranet website that records the summary of categorized work hours and provides analytical reports for the management of department’s budget. ')
        +techStack('Apache/mod_python, JavaScript and DHTML, Python, XML, Firebird and Linux.')
      +client('Archaeology Department','Madaba Plains Project')
        +engagement('Software that manages the data acquired on archeological digs, providing an off-line mode, user friendly interface.  The data is then remotely synchronized and stored in a central subversion repository with relational integrity.  Also, the application provides integration with Excel, Word and Access allowing the user to analyze and create reports with selected and filtered data.')
        +techStack('Python 2.5, wxPython, integration with Subversion through pysvn, pyVelocity, WiX and firebird embedded')
  +secondHeader("Experience in Brazil")
    +position('Lead Developer / Consultant', 'Trust Consultants', 'Sao Paulo', 'Brazil', '06', '2002', '07', '2004')
      +client('Bearing Point', 'Oracle Exchange OEX')
        +engagement(' Customization of Oracle Exchange (OEX)’s modules and development of Integration between OEX and SAP for the National Steel Manufacturing Company of Brazil (CSN). ')
        +techStack('JSP/ Java Servlets, Oracle Web Methods as ETL tool and Oracle/PLSQL. ')   
      +client('Nokia', 'Code Blood Project')
        +engagement('website for open source development of mobile software.  It provided services to the open source community similar to sourceforge.net: code repository, internet hosting, forums and mailing lists.  ')
        +techStack('Struts / JSTL/ JBOSS (EJB/CMP’s), XDoclets / Ant / Cruise Control and PostgreSQL Database ')
      +client('Gemco bematech.com.br')
        +engagement('Swing Java application that controls supermarkets’ cashier register using a Linux terminal.  Creation of libraries and Java classes to integrate with Linux libraries for Electronic Fund Transfer')
        +techStack('Java Native Interfaces-JNI.  Development of C++ Library to integrated with JNI proxy classes.')

    +position('Developer', 'Vesta Technologies', 'Sao Paulo', 'Brazil', '01', '2000', '06', '2002')
      +client('Vesta Maket')
        +engagement('An e-procurement platform from Vesta Technologies serving main corporations of Brazil such as Embratel, Serpro and Votorantim of Brazil. ')
        +techStack('MS VB Web-Classes, client and server JavaScript, and maintained C++ COM/ATL Objects. ')
    +position('Developer', 'Ibelli Fainzilberg', 'Sao Paulo', 'Brazil', '05', '1995', '12', '1999')
      +client('LIBS Pharmaceutic')
        +engagement('Sales Rep Scheduler desktop application ')
        +techStack('Delphi, MS Sql Server')

  +header("Education and Certifications")
      +client('AWS Certified Cloud Practitioner')
        +engagement2('January 2024')
      +client('Java Certified Programmer')
        +engagement2('JDK 1.3.  August 2002')
      +client('MCP 70-315')
        +engagement2('Developing and Implementing Web Applications with Microsoft Visual C# .NET – Feb/2007')
      +client('University of Michigan','Dearborn')
        +engagement2('Junior year in Physics and Mathematics.')
      +client('Federal Technical School')
        +engagement2('São Paulo Brazil, Data Processing, Computer Science Curriculum – 1994')

script(src='node_modules/jquery/dist/jquery.js')
script(src='node_modules/what-input/dist/what-input.js')
script(src='node_modules/foundation-sites/dist/js/foundation.js')
script(src='js/app.js')
