mixin header(title)
  h4= title
  .callout
    .grid-x.grid-padding-x
      block
mixin secondHeader(title)      
  h4= title
  block

mixin label(labelText)
  .large-3.medium-3.cell
    strong= labelText
mixin labelNotBold(labelText)
  .large-3.medium-3.cell= labelText

mixin highlight(desc)
  .large-9.medium-9
    p=desc

mixin date(month, year, endMonth, endYear)
  .large-6.medium-6.cell
    h5 #{month}/#{year} - Current

mixin company(name, city, state, link)
    .large-3.medium-3.cell
      h4
        | #{name}, #{city}, #{state}  (#{link})

mixin position(title, company, city, state, startMonth, startYear, endMonth, endYear )
  .callout
    .grid-x.grid-padding-x
      .large-6.medium-6.cell
        h4= title
        p #{company}, #{city}, #{state}
      .large-6.medium-6.cell
        h4.text-right
          | #{startMonth}/#{startYear} - 
          if (endYear)
            | #{endMonth}/#{endYear}
          else
            | #{endMonth}
    .grid-x.grid-padding-x
      block

mixin job(company, title, period, url, descUrl )
  .callout
    .grid-x.grid-padding-x
      .large-4.medium-4.cell
        h5= title
      .large-6.medium-6.cell
        h5= company
        if (url)
          +aLink(url, descUrl)
      .large-4.medium-4.cell
        h5.text-right= period
      block
mixin client( client, projectName )
  .large-1.medium-1.cell
  .large-11.medium-11.cell
    li
      strong
        | #{client}
      if (projectName)
        |, 
        em #{projectName}
      | &nbsp;:&nbsp;

      block
      //-   | #{projectName}
        
mixin engagement( desc )
    | #{desc}
mixin engagement2( desc )
    | #{desc}
    br

mixin techStack( desc )
    p 
      em Technologies&nbsp;:&nbsp;
      | #{desc}

mixin description( desc )
    p= desc
    block
mixin description2( desc )
  p= desc
mixin technologies( desc )
  .large-3.medium-3.cell
    p.text-left Technologies
  .large-9.medium-9.cell
    p= desc

mixin aLink(href, desc )    
  a.hide-for-print(href=href)=desc
  p.show-for-print=desc
   

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{info.fullName}
  link(rel='stylesheet' href='css/app.css')
.grid-container
  h4 #{info.fullName}

  .grid-x.grid-padding-x
    .large-3.medium-3.small-3.cell.hide-for-print
      p #{info.city}, #{info.state}
    .large-3.medium-3.small-3.cell.hide-for-print
      p.text-center
        a(href='mailto:' + info.email) Email
    .large-3.medium-3.small-3.cell.hide-for-print
      p.text-center
        a(href='http://linkedin.com/in'+ info.linkedInHandle, target="__blank") LinkedIn
    .large-3.medium-3.small-3.cell.hide-for-print
      p.text-center
        a(href='./pedro_ribeiro_resume.pdf' ) Download Resume
  .grid-x.grid-padding-x
    .large-4.medium-4.small-4.cell.show-for-print
      p #{info.address} #{info.city}, #{info.state}
    .large-4.medium-4.small-4.cell.show-for-print
      p 
        | #{info.email}
    .large-4.medium-4.small-4.cell.show-for-print
      p 
        | linkedin.com/in/#{info.linkedInHandle}
.grid-container
  +header('Career Highlights')
    each h in highlights
      +label(h.label)
      +highlight(h.description)


.grid-container
  +secondHeader('Experience ')
    each pos in experience.positions
      +position(pos.title, pos.company, pos.city, pos.state, pos.startMonth, pos.startYear, pos.endMonth, pos.endYear )
        each cli in pos.clients
          +client(cli.name, cli.projectName)
            +engagement(cli.businessDesc)
            +techStack(cli.techStack)
  +secondHeader("Experience in Brazil")
    each pos in experienceBrazil.positions
      +position(pos.title, pos.company, pos.city, pos.state, pos.startMonth, pos.startYear, pos.endMonth, pos.endYear )
        each cli in pos.clients
          +client(cli.name, cli.projectName)
            +engagement(cli.businessDesc)
            +techStack(cli.techStack)
  +header("Education and Certifications")
      +client('AWS Certified Cloud Practitioner')
        +engagement2('January 2024')
      +client('Java Certified Programmer')
        +engagement2('JDK 1.3.  August 2002')
      +client('MCP 70-315')
        +engagement2('Developing and Implementing Web Applications with Microsoft Visual C# .NET – Feb/2007')
      +client('University of Michigan','Dearborn')
        +engagement2('Junior year in Physics and Mathematics.')
      +client('Federal Technical School')
        +engagement2('São Paulo Brazil, Data Processing, Computer Science Curriculum – 1994')

script(src='node_modules/jquery/dist/jquery.js')
script(src='node_modules/what-input/dist/what-input.js')
script(src='node_modules/foundation-sites/dist/js/foundation.js')
script(src='js/app.js')
